<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <context-param>
        <param-name>app-name</param-name>
        <param-value>MeiBurger</param-value>
    </context-param>
    <context-param>
        <param-name>charset</param-name>
        <param-value>big5</param-value>
    </context-param>

    <listener>
        <description>ServletContextListener, HttpSessionListener</description>
        <listener-class>uuu.meiburger.web.LoginCuntListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>HelloServletTW</servlet-name>
        <servlet-class>uuu.meiburger.view.HelloServlet</servlet-class>
        <init-param>
            <param-name>welcome</param-name>
            <param-value>歡迎</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServletTW</servlet-name>
        <url-pattern>/zh-tw/hello.view</url-pattern>
        <url-pattern>/zh-tw/hello.asp</url-pattern>
        <url-pattern>/zh-tw/hello.php</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginImageCheckCodeServlet</servlet-name>
        <servlet-class>uuu.meiburger.view.ImageCheckCodeServlet</servlet-class>
        <init-param>
            <param-name>length</param-name>
            <param-value>6</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginImageCheckCodeServlet</servlet-name>
        <url-pattern>/img/check_code.jpg</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterImageCheckCodeServlet</servlet-name>
        <servlet-class>uuu.meiburger.view.ImageCheckCodeServlet</servlet-class>
        <init-param>
            <param-name>length</param-name>
            <param-value>6</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterImageCheckCodeServlet</servlet-name>
        <url-pattern>/img/reg_check_code.jpg</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>ImageCheckCodeServlet</servlet-name>
        <servlet-class>uuu.meiburger.view.ImageCheckCodeServlet</servlet-class>
        <init-param>
            <param-name>length</param-name>
            <param-value>6</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageCheckCodeServlet</servlet-name>
        <url-pattern>/img/echeck_code.jpg</url-pattern>
    </servlet-mapping>









    <servlet>
        <servlet-name>HelloServletUS</servlet-name>
        <servlet-class>uuu.meiburger.view.HelloServlet</servlet-class>
        <init-param>
            <param-name>welcome</param-name>
            <param-value>welcome</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServletUS</servlet-name>
        <url-pattern>/en-us/hello.view</url-pattern>
        <url-pattern>/en-us/hello.asp</url-pattern>
        <url-pattern>/en-us/hello.php</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>HelloJSP</servlet-name>
        <jsp-file>/WEB-INF/hello.jsp</jsp-file>
        <init-param>
            <param-name>welcome</param-name>
            <param-value>JSP跟你說哈囉~~~</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloJSP</servlet-name>
        <url-pattern>/hello.jsp</url-pattern>
        <url-pattern>/hello.php</url-pattern>
    </servlet-mapping>



    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>


    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>>index.html</welcome-file>
        <welcome-file>index.aspx</welcome-file>
    </welcome-file-list>
</web-app>
